.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.stylish-header {
    font-size: 36px;
    color: #27ae60;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Ombreggiatura */
    letter-spacing: 1px; /* Spaziatura tra le lettere */
    font-weight: bold;
    margin: 0;
    transition: transform 0.3s ease; /* Effetto di transizione */
    text-align: center;
}

.stylish-card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #27ae60; /* Bordo verde */
}

.stylish-card:hover {
    transform: scale(1.05); /* Ingrandimento al passaggio del mouse */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Ombra più intensa */
}

.stylish-image {
    display: block;
    margin: auto;
    max-width: 30%; /* Riduzione della dimensione dell'immagine */
    height: auto;
    padding-top: 20px;
}

.stylish-title {
    font-size: 1.25rem;
    color: #2c3e50; /* Colore del testo */
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.stylish-text {
    color: #34495e; /* Testo di colore grigio-blu */
    font-size: 0.9rem;
}

