{% extends 'base.html' %}


{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-navy text-white text-center" style="background-color: navy;">
                    <h3>Cerca Minifigura per Posizione</h3>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('main.cerca') }}" method="post">
                         <input type="hidden" name="tipo" value="0"> <!-- parametro nascosto -->
                        <div class="form-group">
                            <label for="posizione">Posizione:</label>
                            <input type="text" id="posizione" name="posizione" class="form-control mb-2"
                                   placeholder="Inserisci la posizione della minifigura" required>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Cerca Minifigura</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-navy text-white text-center" style="background-color: navy;">
                    <h3>Cerca Minifigura per numero set bricklink</h3>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('main.cerca') }}" method="post">
                         <input type="hidden" name="tipo" value="1"> <!-- parametro nascosto -->
                        <div class="form-group">
                            <label for="no">Numero:</label>
                            <input type="text" id="no" name="no" class="form-control mb-2"
                                   placeholder="Inserisci il numero minifigura" required>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Cerca Minifigura</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-navy text-white text-center" style="background-color: navy;">
                    <h3>Cerca le Minifigure del quadro</h3>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('main.cerca') }}" method="post">
                         <input type="hidden" name="tipo" value="2"> <!-- parametro nascosto -->
                        <div class="form-group">
                            <label for="quadro">Numero quadro:</label>
                            <input type="text" id="quadro" name="quadro" class="form-control mb-2"
                                   placeholder="Inserisci il numero della cornice" required>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Cerca Minifigure</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% if esito %}
   <div class="container mt-5 d-flex justify-content-center">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card mx-auto mt-4 shadow-sm stylish-card" style="width: 20rem;">
                <img src="{{ esito.image_url }}" alt="Immagine Minifigura" class="card-img-top stylish-image">
                <div class="card-body text-center">
                    <h3 class="card-title stylish-title">{{ nome_troncato }}</h3>
                    <p class="card-text stylish-text">Nr. BrickLink: {{ esito.no }}</p>
                    <p class="card-text stylish-text">Anno: {{ esito.year_released }}</p>
                    <p class="card-text stylish-text">Cornice nr: {{ quadro }}</p>
                    <p class="card-text stylish-text">Posizione: {{ posizione }}</p>
                    <p class="card-text stylish-text">Valore Medio: {{ valore_medio }} €</p> <!-- Mostra il valore medio -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}


{% endblock %}