{% extends 'base.html' %}


{% block content %}
<div class="container mt-4">
    <div class="row g-4 justify-content-center">
        <!-- Card: Cerca Minifigura per Posizione -->
        <div class="col-lg-4 col-md-6">
            <div class="card shadow-lg stylish-card">
                <div class="card-header bg-primary text-white text-center py-3">
                    <h4>Cerca per Posizione</h4>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('main.cerca') }}" method="post">
                        <input type="hidden" name="tipo" value="0">
                        <div class="form-group mb-3">
                            <label for="posizione" class="form-label">Posizione:</label>
                            <input type="text" id="posizione" name="posizione" class="form-control stylish-input"
                                   placeholder="Inserisci la posizione della minifigura" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block stylish-button">
                            Cerca Minifigura
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Card: Cerca Minifigura per Numero Set BrickLink -->
        <div class="col-lg-4 col-md-6">
            <div class="card shadow-lg stylish-card">
                <div class="card-header bg-primary text-white text-center py-3">
                    <h4>Cerca per Numero Set BrickLink</h4>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('main.cerca') }}" method="post">
                        <input type="hidden" name="tipo" value="1">
                        <div class="form-group mb-3">
                            <label for="no" class="form-label">Numero:</label>
                            <input type="text" id="no" name="no" class="form-control stylish-input"
                                   placeholder="Inserisci il numero della minifigura" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block stylish-button">
                            Cerca Minifigura
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Card: Cerca Minifigure del Quadro -->
        <div class="col-lg-4 col-md-6">
            <div class="card shadow-lg stylish-card">
                <div class="card-header bg-primary text-white text-center py-3">
                    <h4>Cerca per numero cornice</h4>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('main.cerca') }}" method="post">
                        <input type="hidden" name="tipo" value="2">
                        <div class="form-group mb-3">
                            <label for="quadro" class="form-label">Numero Quadro:</label>
                            <input type="text" id="quadro" name="quadro" class="form-control stylish-input"
                                   placeholder="Inserisci il numero della cornice" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block stylish-button">
                            Cerca Minifigure
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}